### Topics Cover:
- lower, upper, title, len
- Replace( )
- Strip, lstrip, rstrip
- split

In [2]:
import pandas as pd

Import the chicago.csv and convert the department into a category since there are only a few unique values.

In [6]:
chicago = pd.read_csv('../datasets/chicago.csv')

# create category for memory optimization
chicago["Department"] = chicago["Department"].astype('category')
chicago.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$90744.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$84450.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$84450.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$89880.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$106836.00

lower( ) and upper( ) are very intuitive. The doe as they state: lower creates a string that is all lower case and uppper to upper case. This is often handy for consistency across the data set.

In [9]:
# examples
"TO LOWER".lower()

"to upper".upper()

'TO UPPER'

In [10]:
# using title is also intuitive, it capitalizes every word using a space as an indicator (space is the default)
"my title is now a proper case".title()

'My Title Is Now A Proper Case'

In [12]:
# len( ) tells us the number of characters in the string. We pass as tring or var into it. Notice the space is counted below.
len("how long is the string?")

23

#### Whenver we call a string method in pandas, we have to prefix with a .str

In [16]:
# example: apply title to Name for proper casing. Remember, its needs to be reassigned ot be applied to the df.
chicago['Position Title'] = chicago['Position Title'].str.title()

chicago.head(3)

                Name    Position Title   Department Employee Annual Salary
0    AARON,  ELVIA J  Water Rate Taker  WATER MGMNT              $90744.00
1  AARON,  JEFFERY M    Police Officer       POLICE              $84450.00
2     AARON,  KARINA    Police Officer       POLICE              $84450.00

### Get the length of each var in a row

In [17]:
# department len
chicago["Department"].str.len()

0        11.0
1         6.0
2         6.0
3        16.0
4        11.0
         ...
32058     6.0
32059     6.0
32060     6.0
32061     4.0
32062     NaN
Name: Department, Length: 32063, dtype: float64